{% extends 'base.html' %}

{% block content%}
<h1><img src="{{user.image_url}}"> {{user.first_name}} {{user.last_name}} </h1>

    <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>

    <form action="{{user.id}}/delete" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>

    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
        <li> <a href="/posts/{{post.id}}">{{ post.title }}</a> </li>
        {% endfor %}
    </ul>
    <a href="/users/{{user.id}}/posts/new" class="btn btn-primary">Add Post</a>

{% endblock %}

